<h1>New Post</h1>

<form action="/posts" method="post">
	Name: <input type="text" name="name"><br><br>
	Post: <input type="text" name="content"><br><br>

    <input type="submit" value="submit">
</form>